.img-col {
    flex: 50%;
    max-width: 50%;
}

@media screen and (max-width: 800px) {
    .img-col {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .img-col {
        flex: 100%;
        max-width: 100%;
    }
}
